@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
// font-family: 'EB Garamond', serif;
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
// font-family: 'PT Serif', serif;
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//jost

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: -1;
  width: 200%;
  height: 200%;
  background-image: url("../images/noise.jpg");
  background-repeat: repeat;
  animation: noise 1s steps(2) infinite;
  pointer-events: none;
}

.hero {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
}

.work-button {
  position: fixed;
  z-index: 900;
  top: 40px;
  right: 20px;
  width: 140px;
  height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #1a1a1a;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.03em;
  -webkit-text-size-adjust: 100%;
  transition: opacity 0.35s;

  @media only screen and (max-width:1024px) {
    right: 75px;
  }
}

.work-button:before {
  top: 4px;
  left: 4px;
  content: "";
  transition: background-color 0.35s, transform 0.35s;
}

.work-button__content {
  background: #fff;
  color: #1a1a1a;
  font: 700 18px/38px Jost;
  text-align: center;
  transition: transform 0.175s;
}

.work-button:hover .work-button__content {
  transform: translateX(-2px) translateY(-2px);
}
.m-no-touch .work-button:active .work-button__content,
.m-touch .work-button:active .work-button__content {
  transform: translateX(2px) translateY(2px);
}
.work-button:before {
  top: 4px;
  left: 4px;
  content: "";
  transition: background-color 0.35s, transform 0.35s;
}
.work-button:hover:before {
  background-color: #fff;
  transition-duration: 0.175s;
}

.work-button:before,
.work-button__content {
  position: absolute;
  // left: 0;
  // top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid #1a1a1a;
}

#text {
  position: relative;
  color: #fff;
  // font-size: 12vw;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  transform: rotate(-8deg) skew(5deg);

  &:before {
    content: attr(data-text);
    position: absolute;
    top: 30px;
    left: -30px;
    color: rgba(0, 0, 0, 0.1);
    text-shadow: none;
    filter: blur(5px);
    z-index: -1;
  }
}

.scroll-down {
  position: absolute;
  bottom: -30px;
  @media only screen and (max-width: 800px) {
    bottom: 0;
  }
}
#scroll-down a {
  padding-top: 60px;
}
#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll-down a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scroll-a a {
  // position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  // font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.scroll-a a:hover {
  opacity: 0.5;
}

.pink-circle {
  position: absolute;
  top: 100px;
  left: 50px;
}

.hero {
  // background-size: 100%;
  background-color: #ffb6b6;
  background-image: linear-gradient(
    350deg,
    #ffb6b6 0%,
    #699bc8 50%,
    #ffffff 100%
  );
  opacity: 0.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  // background: rgb(105, 155, 200);
  // // background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
  // background: -webkit-gradient(
  //   radial,
  //   top left,
  //   0px,
  //   top left,
  //   100%,
  //   color-stop(0%, rgba(105, 155, 200, .3)),
  //   color-stop(57%, rgba(181, 197, 216, .3))
  // );
  // background: -webkit-radial-gradient(
  //   top left,
  //   ellipse cover,
  //   rgb(255, 182, 182) 0%,
  //   rgba(181, 197, 216, .3) 57%
  // );
  // //  background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  // //  background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  // //  background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.name-image {
  width: 30vw;
  fill: white;
  animation: float 6s ease-in-out infinite;
  @media only screen and (max-width: 500px) {
    width: 80vw;
  }
}

.hero-text {
  font-size: 8vw;
  margin: 0;
  margin-left: auto;
  color: white;
  line-height: 1.1;
  letter-spacing: 3px;
  @media screen and (max-width: 800px) {
    font-size: 6vw;
  }
  @media screen and (max-width: 500px) {
    font-size: 8vw;
  }
}

.hero-text-container {
  // width: max-content;
  margin-left: auto;
  position: absolute;
  bottom: 100px;
  left: 75px;
  z-index: 999;
  @media screen and (max-width: 800px) {
    left: 10px;
  }
  @media only screen and (max-width: 500px) {
    bottom: 150px;
  }
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.flatt {
  display: block;
  font-size: 12vw;
}

img{
  pointer-events: none;
}

.list-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 780px;
  padding: 30px;
  margin: 0 auto;
}

.view-cursor {
  cursor: url("../images/cursor/view-cursor.svg"), auto;
}

// .nav-buttons{
//   display: inline-block;
//   align-items: center;
//   flex-direction: row;
// }



.work {
  position: relative;
  width: 100%;
  height: auto;
}

.work-item {
  position: relative;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  min-height: 100%;
  text-align: left;
}

.obo-image {
  right: -130px;
  width: 60%;
}

.sway-img{
  right: -130px;
  width: 40%;
}

.bond-img{
  right: -130px;
  width: 30%;
}

.holo-image{
  width: 40%;
  right: -130px;
  z-index: -1;
}

.work-item-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 780px;
  padding: 30px;
  border-bottom: 2px solid #eee;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  height: 100%;
  transition: .6s all ease;

  &:hover {
    padding-top: 100px;
  }

  img {
    position: absolute;
    // width: 35%;
    bottom: 0;
    transition: 0.3s all ease;
    opacity: 0;
    // padding-top: 100px;
  }
}

.work-sub-title {
  font-family: "font";
  font-size: 18px;
  margin-bottom: -25px;
}

@media (max-width: 1100px) {
  .work-item-inner {
    max-width: 75vw;
  }
}

@media (max-width: 540px) {
  .work-item-inner {
    max-width: 100%;
    padding: 0;
    margin: 20px;
    margin-bottom: 0;
  }
}

.work-title {
  // font-family: "roslindale";
  font-size: 136px;
  // line-height: 126px;
  padding-bottom: 25px;
  // margin-top: -25px;
  // pointer-events: none;
}

@media (max-width: 1100px) {
  .work-title {
    font-size: 12.5vw;
    // line-height: 11vw;
  }
}

@media (max-width: 540px) {
  .work-title {
    font-size: 17vw;
    // line-height: 15vw;
  }
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.project-image{
  @media only screen and (max-width:768px){
    display: none;
  }
}

// .project-image {
//   position: absolute;
//   z-index: 999;
//   width: 10%;
//   visibility: hidden;
//   transform: translateX(-50%)  translateY(-50%);
//   margin-left: -400px;
//   pointer-events:none
// }
// .project-image.visible {
//   visibility: visible;
// }

// * {
// 	cursor: none;
// }

.cursor {
  @media only screen and (max-width:768px){
    display: none;
  }
  --size: 8px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor.cursor-shadow {
  background-color: transparent;
  border: 1px solid #6193c3;
  --size: 40px;
  transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s,
    background-color 0.2s, border-color 0.2s;
  transition-timing-function: ease-out;
}
.cursor.cursor-dot {
  background: #6193c3;
  transition: width 0.2s, height 0.2s;
}
.cursor-shadow.active {
  --size: 80px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.1);
}
.cursor-dot.active {
  --size: 0;
}

.cursor-shadow.active-blog-post-1 {
  background-image: url("../images/holocloud/cloud.png");
  @media only screen and (max-width:768px){
    display: none;
  }
}
.cursor-shadow.active-blog-post-2 {
  background-image: url("../images/obo/dailyChallenges.png");
  @media only screen and (max-width:768px){
    display: none;
  }
}
.cursor-shadow.active-blog-post-3 {
  background-image: url("http://ivang-design.com/alke/img/blog/3.jpg");
  @media only screen and (max-width:768px){
    display: none;
  }
}
.cursor-shadow.active-blog-post-4 {
  background-image: url("../images/cursor/bond.svg");
  @media only screen and (max-width:768px){
    display: none;
  }
}
.cursor-shadow.active-blog-post-5 {
  background-image: url("http://ivang-design.com/alke/img/blog/5.jpg");
  @media only screen and (max-width:768px){
    display: none;
  }
}
.cursor-shadow.active-blog-post-6 {
  background-image: url("../images/holocloud/cloud.svg");
  @media only screen and (max-width:768px){
    display: none;
  }
  background-size: contain;
}
.cursor-shadow.active-blog-post-7 {
  background-image: url("http://ivang-design.com/alke/img/blog/7.jpg");
  @media only screen and (max-width:768px){
    display: none;
  }
}

.cursor.cursor-dot.active-blog-post-1,
.cursor.cursor-dot.active-blog-post-2,
.cursor.cursor-dot.active-blog-post-3,
.cursor.cursor-dot.active-blog-post-4,
.cursor.cursor-dot.active-blog-post-5,
.cursor.cursor-dot.active-blog-post-6,
.cursor.cursor-dot.active-blog-post-7 {
  opacity: 0;
}
.cursor-shadow.active-blog-post-1,
.cursor-shadow.active-blog-post-2,
.cursor-shadow.active-blog-post-3,
.cursor-shadow.active-blog-post-4,
.cursor-shadow.active-blog-post-5,
.cursor-shadow.active-blog-post-6,
.cursor-shadow.active-blog-post-7 {
  --size: 160px;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
}

@keyframes noise {
  0% {
    transform: translateZ(0);
  }
  10% {
    transform: translate3d(-1%, -2%, 0);
  }
  20% {
    transform: translate3d(-3%, 1%, 0);
  }
  30% {
    transform: translate3d(2%, -5%, 0);
  }
  40% {
    transform: translate3d(-1%, 3%, 0);
  }
  50% {
    transform: translate3d(-3%, 2%, 0);
  }
  60% {
    transform: translate3d(3%, 0, 0);
  }
  70% {
    transform: translate3d(0, 3%, 0);
  }
  80% {
    transform: translate3d(2%, 5%, 0);
  }
  90% {
    transform: translate3d(-2%, 2%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}

.section-intro {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #eee;
  font-family: font;
}

.about-home {
  height: auto;
  margin-top: 50px;
  // padding: 0 5%;
}

.about-home-text {
  padding-left: 30vw;
  padding-right: 16px;
  display: flex;
}

.about-home-text h1 {
  font-size: 48px;
  font-family: font;

  @media only screen and (max-width: 1023px) {
    font-size: 16px;
  }
}

nav{
  @media only screen and (max-width:1023px){
    display: none;
  }
}

.nav-vis{
  visibility: hidden;
}

.logo {
  span{
    font-size: 24px;
  }
  position: fixed;
  top: 40px;
  // margin-top: 20px;
  left: 20px;

  h1{
    margin: 0;
  }
}

// .project-image{
//   // visibility: hidden;
//   // position: absolute;
//   width: 25%;
//   bottom: 0;
//   transition: .3s all ease;
// }

.image-appear {
  img {
    opacity: 1;
    transition: 0.5s all ease;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  margin: auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mobile-button{
  position: fixed;
  top: 0;
  right: 20px;
}

.top-link{
  margin-top: 100px;
}

.mobile-nav{
  position: fixed;
  z-index: 99999;
  @media only screen and (min-width:1023px){
    display: none;
  }
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 100vh;
  text-align: right;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}