@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
// font-family: 'EB Garamond', serif;
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
// font-family: 'PT Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//jost

@font-face {
  font-family: "seeyou";
  font-weight: 400;
  src: url("../fonts/IKANSEEYOUALL_Trial.otf") format("opentype");
}

@font-face {
  font-family: "font";
  font-weight: 400;
  src: url("../fonts/lineto-circular-pro-bold-webfont.woff") format("woff");
  src: url("../fonts/lineto-circular-pro-bold-webfont.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "font";
  font-weight: 400;
  src: url("../fonts/lineto-circular-pro-book-webfont.woff") format("woff");
  src: url("../fonts/lineto-circular-pro-book-webfont.woff2") format("woff2");
  font-weight: 400;
}

body {
  font-family: 'Jost', sans-serif;
}

.list-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 780px;
  padding: 30px;
  margin: 0 auto;
}

.work {
  position: relative;
  width: 100%;
  height: auto;
}

.work-item {
  position: relative;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  height: auto;
  text-align: left;
  overflow: hidden;
}

.work-item-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 780px;
  padding: 30px;
  border-bottom: 1px solid #eee;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
}

.work-sub-title{
  font-family: "font";
  font-size: 18px;
  margin-bottom: -25px;
}

@media (max-width: 1100px) {
  .work-item-inner {
    max-width: 75vw;
  }
}

@media (max-width: 540px) {
  .work-item-inner {
    max-width: 100%;
    padding: 0;
    margin: 20px;
    margin-bottom: 0;
  }
}

.work-title {
  // font-family: "roslindale";
  font-size: 136px;
  // line-height: 126px;
  padding-bottom: 25px;
  // margin-top: -25px;
  // pointer-events: none;
}

@media (max-width: 1100px) {
  .work-title {
    font-size: 12.5vw;
    // line-height: 11vw;
  }
}

@media (max-width: 540px) {
  .work-title {
    font-size: 17vw;
    // line-height: 15vw;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// .project-image {
//   position: absolute;
//   z-index: 999;
//   width: 10%;
//   visibility: hidden;
//   transform: translateX(-50%)  translateY(-50%); 
//   margin-left: -400px;
//   pointer-events:none
// }
// .project-image.visible {
//   visibility: visible;
// }

* {
	cursor: none;
}
.cursor {
    --size: 8px;
    height: var(--size);
    width:  var(--size);
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor.cursor-shadow {
    background-color: transparent;
    border: 1px solid #000;
    --size: 40px;
    transition: top .2s, left .2s,
                width .2s, height .2s,
                background-color .2s, border-color 0.2s;
    transition-timing-function: ease-out;
}
.cursor.cursor-dot {
    background: #7f6ed2;
    transition: width .2s, height .2s;
}
.cursor-shadow.active {
    --size: 80px;
    border-color: rgba(255,255,255, 0);
    background-color: rgba(255,255,255,.1);
}
.cursor-dot.active {
	  --size: 0;
}
a {
	  cursor: pointer;
}
a:hover {
  	text-decoration: none;
}

.cursor-shadow.active-blog-post-1 {
  background-image: url('http://ivang-design.com/alke/img/blog/1.jpg');
}
.cursor-shadow.active-blog-post-2 {
  background-image: url('http://ivang-design.com/alke/img/blog/2.jpg');
}
.cursor-shadow.active-blog-post-3 {
  background-image: url('http://ivang-design.com/alke/img/blog/3.jpg');
}
.cursor-shadow.active-blog-post-4 {
  background-image: url('http://ivang-design.com/alke/img/blog/4.jpg');
}
.cursor-shadow.active-blog-post-5 {
  background-image: url('http://ivang-design.com/alke/img/blog/5.jpg');
}
.cursor-shadow.active-blog-post-6 {
  background-image: url('http://ivang-design.com/alke/img/blog/6.jpg');
}
.cursor-shadow.active-blog-post-7 {
  background-image: url('http://ivang-design.com/alke/img/blog/7.jpg');
}

.cursor.cursor-dot.active-blog-post-1,
.cursor.cursor-dot.active-blog-post-2,
.cursor.cursor-dot.active-blog-post-3,
.cursor.cursor-dot.active-blog-post-4,
.cursor.cursor-dot.active-blog-post-5,
.cursor.cursor-dot.active-blog-post-6,
.cursor.cursor-dot.active-blog-post-7 {
	  opacity: 0;
}
.cursor-shadow.active-blog-post-1,
.cursor-shadow.active-blog-post-2,
.cursor-shadow.active-blog-post-3,
.cursor-shadow.active-blog-post-4,
.cursor-shadow.active-blog-post-5,
.cursor-shadow.active-blog-post-6,
.cursor-shadow.active-blog-post-7 {
	  --size: 160px;
  	border-color: rgba(255,255,255, 0);
	  border-width: 0;
	  background-color: transparent;
	  background-position: center center;
	  background-repeat: no-repeat;
  	background-size: cover;
	  border-radius: 50%;
  	z-index: 1;
}