.menu-toggle {
    display: none;
    width: 24px;
    height: 24px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999999;

    @media (max-width:1024px) {
        display: block;
    }
  }
  
  .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    transition: left 0.3s;
    z-index: 999;
  }
  
  .mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
  }
  
  .mobile-nav li {
    padding: 10px 20px;
  }
  
  .mobile-nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .mobile-nav.active {
    left: 0;
    z-index: 9999;
    overflow-y: hidden;
  }
  