    .App {
    text-align: left;
    font-family: sans-serif;
    background-image: url("../images/obo/oboBG.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
//   a{
//     color: black;
//   }
  
  .footerLine{
    color:pink;
    text-decoration: none;
    pointer-events: none;
  }
  
  .footerObo{
    color: #206FA7;
    text-decoration: none;
    transition: .2s ease;
  }
  
  .footerObo:hover{
    border-bottom: 2px solid pink;
  }
  
  .backArrow{
    width: 35px;
    transform: rotate(90deg);
    position: fixed;
    top:10px;
    left: 10px;
  }
  
   /* .indigo{
    position: absolute;
    width: 5%;
    left: 15px;
    top: 50px;
  } */
  
   @media only screen and (max-width:800px){
    .indigo{
      width: 20%;
    }
  } 
  
  .indigo{
    width: 10%;
  }
  
  .indigoText{
    font-size: 24px;
    text-decoration: underline;
  }
  
  
  .App-header {
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: black;
    text-align: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .oboLogo{
    height: auto;
    width: 25%;
    color: pink;
  }
  
  .downArrow{
    position: absolute;
    bottom: 0;
    width: 45px;
    height: auto;
  }
  
  
  .userTest{
    text-align: left;
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
  }
  
  .oboParagraph{
    line-height: 1.4;
    margin-top: -10px;
  }
  
  .likes{
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 50px;
  }
  
  .dislikes{
    font-weight: 700;
    margin-bottom: 35px;
  
  }
  
  .textPadding{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .sectionTop{
    padding-top: 10px;
  }
  
  .paragraphWidth{
    width: 60%;
    line-height: 1.4;
    font-weight: 400;
  }
  
  @media only screen and (max-width: 600px) {
    .paragraphWidth {
      width: 90%;
    }
  }
  
  .targetAudience{
    width: 100%;
  }
  
  .competitors{
    width: 75%;
    margin:auto;
    display: block;
  }
  
  .affinity{
    width: 50%;
    margin:auto;
    display: block;
  }
  
  .steps{
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  
  .oboTwo{
    display: block;
    margin: auto;
    margin-top: 75px;
  }
  
  .dailyChallenges{
    margin-top: 150px;
  }
  
  .games{
    margin-top: 150px;
  }
  
  
  
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-30px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0); }
  }
  
  .bounce {
    animation: bounce 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  